{% set grid_size = theme_var('grid-size') %}

<section class="section modular-brands {{ page.header.class}}">
    <section class="container {{ grid_size }}">
        {{ content }}
        <div class="columns justify-content-center">
        {% for brand in page.header.brands %}
            <div class="col-2 brand">
                <a href="{{ brand.url }}">
                    {{ media[brand.logo].html(brand.name, brand.name) }}
                {# <img src="/images/logos/{{ brand.logo }}" alt="{{ brand.name }}" /> #}
                </a>
            </div>
        {% endfor %}
        </div>
    </section>
</section>