{% set grid_size = theme_var('grid-size') %}
{% set elements = (page.header.elements ? page.find(page.header.elements) : page.parent()).children() %}

<section class="section modular-childrenlist {{ page.header.class}}">
    <section class="container {{ grid_size }}">
        {{ content }}
        <ul>
        {% for child in elements if not page.header.filter or attribute(child.header, page.header.filter) %}
            <li>
                <a href="{{ child.url }}">{{ child.header.menu ? child.header.menu : child.header.title }}</a>
            </li>
        {% endfor %}
        </ul>
    </section>
</section>