{% set grid_size = theme_var('grid-size') %}
{% set columns = 'small' in page.header.class ? 'col-2 col-md-4 col-sm-6' : 'col-4 col-md-6 col-sm-12'  %}
<section class="section modular-features {{ page.header.class}}">
        <section class="container {{ grid_size }}">

            {{ content }}

            <div class="columns justify-content-center">
            {% for feature in page.header.features %}
                <div class="column {{ columns }}">
                    {% if feature.url %}
                        <a href="{{ feature.url }}" class="feature-icon">
                            <i class="{{ feature.icon }}"></i>
                            {% if feature.header %}
                                <h5>{{ feature.header }}</h5>
                            {% endif %}
                        </a>
                    {% else %}
                        <div class="feature-icon">
                            <i class="{{ feature.icon }}"></i>
                            {% if feature.header %}
                                <h5>{{ feature.header }}</h5>
                            {% endif %}
                        </div>

                    {% endif %}
                    <div class="feature-content">
                        {% if feature.text %}
                            <p>{{ feature.text }}</p>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
            </div>
        </section>
</section>
