{% set grid_size = theme_var('grid-size') %}

{% do assets.addJs('theme://js/blueimp-gallery.min.js', {group:'bottom'}) %}
    {% do assets.addCss('theme://css/blueimp-gallery.min.css', {group:'gallery'}) %}
    {{ assets.css('gallery')|raw }}


<section class="section modular-gallery {{ page.header.class}}">
    <section class="container {{ grid_size }}">

        {{ content }}
        <div id="images">
            {% for image in page.media.images %}
                <a href="{{ image.url }}">{{ image.cropZoom(100, 100).quality(70).html() }}</a>
            {% endfor %}
        </div>
    </section>
</section>


<div id="blueimp-gallery" class="blueimp-gallery">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div>


<script>
document.getElementById('images').onclick = function (event) {
    event = event || window.event;
    var target = event.target || event.srcElement,
        link = target.src ? target.parentNode : target,
        options = {index: link, event: event},
        links = this.getElementsByTagName('a');
    blueimp.Gallery(links, options);
};
</script>
