{% set grid_size = theme_var('grid-size') %}
{% do assets.addJs('theme://js/schedule.js', {group:'bottom'}) %}


<section class="section modular-schedule {{ page.header.class}}">
        <section class="container {{ grid_size }}">
            {{ content }}
			<div class="cd-schedule">
	<div class="timeline">
		<ul>
      {% for time in page.header.times %}
      <li><span>{{ time }}</span></li>
      {% endfor %}
		</ul>
	</div>


	<div class="events">
		<ul>
      {% for day in page.header.days %}
      <li class="events-group">
				<div class="top-info"><span>{{ day.name }}</span></div>
        <ul>
          {% for event in day.events %}
          <li class="single-event {{ event.class }}" data-start="{{ event.start }}" data-end="{{ event.end }}" data-event="{{ event.category }}">
						<em class="event-name">{{ event.title }}</em>
					</li>
          {% endfor %}
        </ul>
      </li>
      {% endfor %}
    </ul>
	</div>

	<div class="event-modal">
		<header class="header">
			<div class="content">
				<span class="event-date"></span>
				<h3 class="event-name"></h3>
			</div>

			<div class="header-bg"></div>
		</header>

		<div class="body">
			<div class="event-info"></div>
			<div class="body-bg"></div>
		</div>

		<a href="#0" class="close">Close</a>
	</div>
</div>
</section>
</section>
