{% set grid_size = theme_var('grid-size') %}

<section class="section modular-team {{ page.header.class}}">
    <section class="container {{ grid_size }}">

        {{ content }}
        <div class="columns">
        {% for member in page.header.team %}
            {% set image = page.media.images[member.image] ? page.media.images[member.image] : media[member.image] %}
            <div class="column col-2 member">
                <div class="avatar">{{ image.html()  }}</div>
                <h6 class="name">
                    {{ member.name }}
                    {% if member.email %}<a href="mailto:{{ member.email }}"><i class="fa fa-envelope"></i></a>{% endif %}
                </h6>
                {% if member.position %}
                    <small class="position">{{ member.position }}</small>
                {% endif %}
            </div>
        {% endfor %}
        </div>
    </section>
</section>
