{% set grid_size = theme_var('grid-size') %}
{% set image = page.header.image ? page.media[page.header.image] : null %}


<section class="section modular-text {{ page.header.class}}">
    <section class="container {{ grid_size }}">

        {% if image %}
            <div class="columns {{ page.header.image_align|default('align-right') }}">
                    <div class="column col-6 col-md-12">
                        {{ content }}
                    </div>
                    <div class="column col-6 col-md-12">
                        {{ image.html }}
                    </div>
            </div>
        {% else %}
            {{ content }}
        {% endif %}
    </section>
</section>
