{% set logo = theme_var(mobile ? 'custom_logo_mobile' : 'custom_logo') %}
{% set logo_text = theme_var('custom_logo_text') %}
<a href="{{ home_url }}" class="navbar-brand mr-10">
{% if logo %}
  {% set logo_file = (logo|first).name %}
  <img src="{{ url('image://logo/' ~ logo_file)  }}" alt="{{ site.name }}" />
{% else %}
  {% include('@images/grav-logo.svg') %}
{% endif %}
  <span class="pagetitle">
      {{ logo_text }}
  </span>
</a>