{% macro nav_entry(text, url, active) %}
    {% set active_page = active ? 'active' : '' %}
    {% if url %}
        <a href="{{ url }}" class="{{ active_page }}">
            {{ text }}
        </a>
    {% else %} 
        <a class="{{ active_page }}">
            {{ text }}
        </a>
    {% endif %}
{% endmacro %}

{% macro nav_loop(pages, onlyVisible, activeurl=null) %}
    {% for p in pages %}
            <li>
                {{ 
                    _self.nav_entry(
                        (p.menu ? p.menu : p.text),
                        (p.routable or p.routable is null ? p.url : null),
                        (p.active or p.activeChild or p.url == activeurl)
                    ) 
                }}
                {% if onlyVisible and p.children.visible.count > 0 %}
                    <ul>
                        {{ _self.nav_loop(p.children.visible) }}
                    </ul>
                {% elseif not onlyVisible and p.children and p.children|length > 0 %}
                    <ul>
                        {{ _self.nav_loop(p.children) }}
                    </ul>
                {% endif %}
            </li>
    {% endfor %}
{% endmacro %}

<ul {{ tree ? 'class="tree"' : '' }}>
    {% if theme.menu_custom %}
        {{ _self.nav_loop(theme.menu, false, page.url) }}
    {% else %}
        {{ _self.nav_loop(pages.children.visible, true) }}
    {% endif %}
    {# {{ site.menu|json_encode }} #}
</ul>
