{% set language = grav.language.getActive|default(grav.language.getDefault) %}
    <time class="dt-published" datetime="{{ page.date|date("c") }}">
        <i class="fa fa-calendar"></i> {{ page.date|localizeddate('long', 'none', language) }}
    </time>
    &nbsp;
    <i class="fa fa-user"></i> {{ page.header.author }}
</span>
